<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <a href="/usuarios">Ver todos os usuarios</a>
    <br>
    <br>
    <form action="/usuario" method="POST">
        <h2>Busca de usuario no banco de dados</h2>
        <input type="text" name="nome" required placeholder="Informe o nome do usuario">
        <br>
        <br>
        <button type="submit">Buscar Usuarios</button>
    </form>
</body>
</html>