<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
</head>
<body>
    <h2>Informacoes do usuario</h2>
    <ul>
        <li>
            <b>Nome:</b> <%= user.nome %>
        </li>
        <li>
            <b>Email:</b> <%= user.email %> 
        </li>
    </ul>
</body>
</html>